<h2>Add New Engineer</h2>
<div class="validation-error"></div>
<div class="input-group">
  <input type="text" class="form-control" name="name" value="" placeholder="Full Name">
</div>
<div class="input-group">
  <input type="text" class="form-control" name="username" value="" placeholder="Username">  
</div>

<h3>Squad Memberships:</h3>

<table class="squad-memberships">
  <thead>
    <tr>
      <th>Squad Name</th>
      <th>Current Member</th>
      <th>Former Member</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<input type="submit" name="submit" value="Submit">
